<div class="navbar navbar-expand fixed-bottom navbar-light navbar-bottom">
  <%= link_to "#", class: "navbar-brand" do %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



  <div class="collapse navbar-collapse navbar-bottom-style" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <div class="navbar-background-logo graph-logo">
          <%= link_to icon('fas', 'chart-bar'), appointments_path, class: "nav-link color-logo"  %>
          </div>        
        </li>
        <li class="nav-item">
        <div class="navbar-background-logo">
          <%= link_to icon('fas', 'plus'), new_appointment_path, class: "nav-link color-logo"  %>
        </div> 
        </li>
        <li class="nav-item">
        <div class="navbar-background-logo">
          <%= link_to icon('fas', 'sign-out-alt'), destroy_user_session_path, method: :delete, class: "nav-link color-logo"  %>
        </div> 
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to icon('fas', 'sign-in-alt', 'Login'), new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
