<div class="header__image">
  <div class="header-opacity">
    <div class="header__title">
      <h1>Entrez vos résultats</h1>
    </div>
  </div>
</div>

<%= simple_form_for(@result) do |f| %>


  <%= f.input :value %>

  <%= f.label :metric_id %>
  <%= f.text_field :value %>

  <%= f.label :metric_id %>
  <%= f.text_field :value %>

  <%= f.submit %>
<% end %>
