<div class="header__image">
  <div class="header-opacity">
    <div class="header__title v-center">
      <h1>Entrez vos résultats</h1>
    </div>
  </div>
</div>

<div class="col appointment-form-container">
  <div class="card" style=" margin-top: 20px; padding-bottom: 20px">
    <%= simple_form_for @appointment do |f| %>
      <div class="card-body">
        <div class="row">
          <div class="col sm-12 create">
            <label for="example">Date & heure du test</label>
            <input type="datetime-local" id="meeting-time" name="appointment[datetime]" 
            value="2020-09-04T00:00" min="2020-09-02T00:00" max="2025-06-14T00:00" class="form-group form-control">
            <%= f.simple_fields_for :results do |ff| %>
              <%= ff.object.metric.name %>
              <%= ff.input :metric_id, as: :hidden, input_html: {class: "date"} %>
              <%= ff.input :value, label: false, placeholder: "Entrez ici votre taux en #{ff.object.metric.unit}" %>
            <% end %>
            <%= f.submit "confirmer", class: "btn btn-warning" %>
          </div>
        </div>
      </div>
      
    <% end %>
    
  </div>
</div>









