<div class="header__image">
  <div class="header-opacity">
    <div class="header__title">
      <h1><%= @appointment.test.name %></h1>
      <h2><%= @appointment.datetime.strftime("%d/%m/%Y") %></h2>
    </div>
  </div>
</div>
<div class="container-show">
  <div class="data-show">
    <h2>Notre recomandation</h2>
    <div class="result-recomandation">
      <div class="bloc-result"><div class="title-result">Pratique sportive</div><div class="log1"><%= icon('fas', 'check') %></div></div>
      <div class="bloc-result"><div class="title-result">Equilibre alimentaire</div><div class="log2"><%= icon('fas', 'arrow-up') %></div></div>
      <div class="bloc-result"><div class="title-result">Gain / Perte de poids</div><div class="log3"><%= icon('fas', 'arrow-down') %></div></div>
      <div class="bloc-result"><div class="title-result">Consommation d'alcool</div><div class="log4"><%= icon('fas', 'arrow-down') %></div></div>
    </div>
  </div>
  <% @appointment.results.each do |result| %>
    <div class="data-show">
      <h2><%= result.metric.name %></h2>
      <div class="taux">
        <p class="data-hemo"><%= result.value %></p>
        <p class="type-hemo"><%= result.metric.unit %></p>
      </div>
    </div>
  <% end %>
</div>
<!--     <div class="graph"> -->
<!--         <div class= "dark rec1"></div> -->
<!--         <div class= "green rec2"></div> -->
<!--         <div class= "grey rec3"></div> -->
<!--     </div> -->
<!--     <div class="dots"> -->
<!--         <div class= "dot dark"></div> -->
<!--         <div class= "dot green"></div> -->
<!--         <div class= "dot grey"></div> -->
<!--     </div> -->
<!--     <div class="dots-title"> -->
<!--         <div>Résultat</div> -->
<!--         <div>Moyenne</div> -->
<!--         <div>Total</div> -->
<!--     </div> -->
<!--   </div> -->
<!--   <div class="data-show"> -->
<!--     <h2>Cholestérol</h2> -->
<!--     <div class="taux"> -->
<!--       <p class="data-hemo">2,9</p> -->
<!--       <p class="type-hemo">g/dl</p> -->
<!--     </div> -->
<!--     <div class="graph"> -->
<!--       <div class= "dark rec1"></div> -->
<!--       <div class= "green rec2"></div> -->
<!--       <div class= "grey rec3"></div> -->
<!--     </div> -->
<!--     <div class="dots"> -->
<!--       <div class= "dot dark"></div> -->
<!--       <div class= "dot green"></div> -->
<!--       <div class= "dot grey"></div> -->
<!--     </div> -->
<!--     <div class="dots-title"> -->
<!--       <div>Résultat</div> -->
<!--       <div>Moyenne</div> -->
<!--       <div>Total</div> -->
<!--     </div> -->
<!--   </div> -->
<!--   <div class="data-show"> -->
<!--     <h2>Transaminases</h2> -->
<!--     <div class="taux"> -->
<!--       <p class="data-hemo">2,9</p> -->
<!--       <p class="type-hemo">g/dl</p> -->
<!--     </div> -->
<!--     <div class="graph"> -->
<!--       <div class= "dark rec1"></div> -->
<!--       <div class= "green rec2"></div> -->
<!--       <div class= "grey rec3"></div> -->
<!--     </div> -->
<!--     <div class="dots"> -->
<!--       <div class= "dot dark"></div> -->
<!--       <div class= "dot green"></div> -->
<!--       <div class= "dot grey"></div> -->
<!--     </div> -->
<!--     <div class="dots-title"> -->
<!--       <div>Résultat</div> -->
<!--       <div>Moyenne</div> -->
<!--       <div>Total</div> -->
<!--     </div> -->
<!--   </div> -->
<!--   <div class="data-show"> -->
<!--     <h2>Créatinine sanguine</h2> -->
<!--     <div class="taux"> -->
<!--       <p class="data-hemo">2,9</p> -->
<!--       <p class="type-hemo">g/dl</p> -->
<!--     </div> -->
<!--     <div class="graph"> -->
<!--       <div class= "dark rec1"></div> -->
<!--       <div class= "green rec2"></div> -->
<!--       <div class= "grey rec3"></div> -->
<!--     </div> -->
<!--     <div class="dots"> -->
<!--       <div class= "dot dark"></div> -->
<!--       <div class= "dot green"></div> -->
<!--       <div class= "dot grey"></div> -->
<!--     </div> -->
<!--     <div class="dots-title"> -->
<!--       <div>Résultat</div> -->
<!--       <div>Moyenne</div> -->
<!--       <div>Total</div> -->
<!--     </div> -->
<!--   </div> -->

