<div class="header__image">
  <div class="header-opacity">
    <div class="header__title">
      <h1><%= @appointment.test.name %></h1>
      <h5><%= @appointment.datetime.strftime("%d/%m/%Y") %></h5>
    </div>
  </div>
</div>

<div class="appointment-results-container">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title">Nos recommandations</h5>
            <div class="row">
              <div class="result-recomandation">
                <div class="bloc-result">
                  <div class="card-subtitle">Pratique sportive</div>
                  <div class="log1"><%= icon('fas', @cholesterol_check) %></div>
                </div>
                <div class="bloc-result"><div class="card-subtitle">Consommation de sucre</div><div class="log2"><%= icon('fas', @glycemie_check) %></div></div>
                <div class="bloc-result"><div class="card-subtitle">Consommation d'eau</div><div class="log2"><%= icon('fas', @creatinine_check) %></div></div>
                <div class="bloc-result"><div class="card-subtitle">Gain / Perte de poids</div><div class="log3"><%= icon('fas', @transaminases_check) %></div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% @appointment.results.each do |result| %>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title"><%= result.metric.name %></h5>
              <div class="taux">
                <p class="data-hemo"><%= result.value %></p>
                <p class="type-hemo"><%= result.metric.unit %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

